<%#content_for :title, "A Web Page - User Page"%>
<%@title="Organizations Dashboard"%>

<%#content_for :some_javascript do _> alert("Welcome Back!"); 
<%#end%>

<h4><%=current_user.first_name%> <%=current_user.last_name%> </h4>
<div id = wrapper>
    <div style = "padding: 20px;">
        Here are the organizations you may join:
        <%if @groups.present?%>
            <% @groups.each do |g|%>
                <br>
                <a href="/groups/<%=g.id%>"><%=g.name%></a>
                <br>
                <i>Members: <%= g.users.count%> </i>
                <br>
                <%=g.description%>
                <% if current_user == g.user %>
                    <form action= "/groups/<%=g.id%>" method='post'>
                        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"> 
                        <input type="hidden" name="_method" value="delete">                
                        <input type="submit" name="commit" value="Destroy">
                    </form>
                <%end%>
            <%end%> 
        <%else%>
            <p> You have no organizations listed on the platform yet. Create an organization below, please. </p>
        <%end%>
    </div>

    <div style = "padding: 20px; border: 1px solid black"> 
        <%# CREATE NEW ORG/GROUP FORM%>
        <%# ####################=%>
        <%# 1ST APPROACH: %>  
        <%# ==============%>
        <%# NOTE: 2nd parameter for f.label allows to set "custom" label text %>
        <%# EXAMPLE: f.label :name, 'Your Name', where "Your Name" is "custom" label text %>
        <%# -------------------------------------------------------------------------------------------------%>
        <%=form_for @group, :url => { :controller => "groups", :action => "create" , method: :post } do |f|%>
            <%=f.label :name , 'Org Name' %>
            <br>
            <%=f.text_field :name, size: "60x12" %>
            <br>
            <%=f.label :description , 'Org Description' %>
            <br>
            <%=f.text_area :description, size: "60x12" %>
            <br><br>
            <%=f.submit "Create"%>
        <%end%>
    </div>
</div>